{% extends 'account/base_auth.html' %}

{% load account %}

{% user_display user as user_display %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
    <h1 class="h3 mb-3 fw-normal">Password Reset</h1>
    {% if user.is_authenticated%}
        <p>You are already logged in as {{ user_display }}</p>
    {% endif %}
    <p>Forgotten your password? Enter your e-mail address below,
       and we'll send you an e-mail allowing you to reset it.</p>
    <form action="{% url 'account_reset_password' %}" method="post">
    {% csrf_token %}
    <div class="form-floating">
        <input 
            type="email" 
            name="email" 
            id="inputEmail" 
            class="form-control {% if form.email.errors %}is-invalid{% endif %}" 
            placeholder="Email address" 
            required 
            autofocus>
        <label for="inputEmail">Email address</label>
        {% if form.email.errors%}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    {{error}}
                {% endfor %}
            </div>
            {% endif %}
    </div>
    {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <input class="w-100 btn btn-lg btn-dark bg-gradient my-3" type="submit" value="Reset My Password">
    </form>
    <p>Please contact us if you have any trouble resetting your password</p>
{% endblock content %}